.easyCategory {
  @media screen and (max-width: 928px) {
    display: flex;
    flex-direction: row;
    width: 30%;
  }

  @media screen and (max-width: 863px) {
    width: 35%;
  }

  @media screen and (max-width: 767px) {
    flex-direction: row;
    width: 100%;
  }
}
