.easy {
 margin-bottom: 10px;
  display: flex;
  gap: 20px;

  &__all {
    // border: black 1px dotted;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  
  @media screen and (max-width: 928px) {
    flex-direction: column;
    width: 30%;
  }

  @media screen and (max-width: 863px) {
    width: 35%;
  }

  @media screen and (max-width: 767px) {
    flex-direction: row;
    width: 100%;
  }

}
