.containerR {
  max-width: 100%;
  border: 1px brown dotted;

  @media screen and (min-width: 768px) {
  min-width: 28%;
    border: black 1px dotted;
  }

  @media screen and (min-width: 1200px) {
   min-width: 28%;
    border: 1px gray dotted;
  }
}

