.rate {
  // border: 1px dotted purple;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  // height: 75px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__left {
    // border: 1px dotted green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    p {
      // border: 1px dotted blue;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &__btn {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__emoji {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 22px;
    // border: 1px dotted blue;
  }

  a {
    text-decoration: none;
  }

  &__download {
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(42, 170, 138);
    width: 140px;
    height: 40px;
    border-radius: 7px;
    color: rgb(42, 170, 138);

    &--arrowDown {
      // border: 1px dotted black;
      padding-top: 4px;
    }

    @media screen and (max-width: 768px) {
      width: 185px;
    }
  }

  &__continue {
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(42, 170, 138);
    color: white;

    &--arrowRight {
      // border: yellow dotted 1px;
      padding-top: 7px;
      height: 20px;
    }
  }
}
