.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__part {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
  }

  &__length {
    margin: 0;
    display: flex;
    gap: 10px;

    &--borderR {
      margin: 0;
      border-right: 1px solid gray;
      padding-right: 10px;
    }

    &--border {
      margin: 0;
    }
  }

  &__checkboxes {
    border-top: 1px solid gray;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    // border: red 1px dotted;
  }

  &__checkbox {
    margin: 0;
    display: flex;
    gap: 10px;
    // border: blue 1px dotted;

    input {
      margin: 0;
      padding: 0;
      align-self: flex-start;
    }
    &--course {
      display: flex;
      flex-direction: column;
      gap: 3px;
      // border: green 1px dotted;
    }

    h5 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}
