.video {
  max-width: 100%;
  height: 350px;
  border-radius: 5px;
  overflow: hidden; //the overflow is for the video edges

  @media screen and (min-width: 768px) {
    // min-width: 400px;
    max-width: 100%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 100%;
  }
}
